#app
	text-align: center;
	padding: 10px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	.container-pesquisa
		width: 100%;
		max-width: 600px;
		margin: 10% auto;

		h1
			text-align: center;
			font-size: 3rem;
			font-weight: 800;
			margin: 15px
			
		.fix-text-fild
			width: 100%;
			.v-input__control
				.v-input__slot
					fieldset
						border-width: 3px !important;
						border-radius: 30px;
						background-color: white;
					input
						padding: 8px 10px

	.container
		width: 100%;
		max-width: 1440px;
		margin: 10px auto 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;