#app
body
  padding: 0;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #D3CCE3;
  background: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);
  background: linear-gradient(to left, #E9E4F0, #D3CCE3);